body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center elements horizontally within the body */
    align-items: center; /* Center elements vertically within the body */
    min-height: 100vh;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    perspective: 1000px;
}

#contentContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* To ensure it stays above the 3D layer */
}

/* Rename this ID to start with a letter */
#environment3D {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Behind the content */
}

main {
    position: relative;
    z-index: 1;
}

header, section {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 80%; /* Set a specific width for the content boxes */
    margin: 0 auto; /* Center the content boxes within their parent container */
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

section {
    transform: translateY(-50px) rotateX(15deg) rotateY(5deg);
    transition: transform 0.5s ease-in-out;
}

section:hover {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
}
